./frontend/node_modules
./frontend/build
/frontend/build
/frontend/node_modules
frontend/build
frontend/node_modules
frontend/.env
/frontend/.env
./frontend/.env

backend/.env
backend/.venv
/backend/.venv
/backend/.env
./backend/.venv
./backend/.env
backend/__pycache__/
backend/chroma_storage/
backend/db/__pycache__/
backend/models/__pycache__/
backend/routes/__pycache__/
backend/services/__pycache__/